/* SPACE LOADER */

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.glow-line {
  width: 0%;
  height: 4px;
  background: white;
  box-shadow: 0 0 12px white;
  animation: glowExpand 2s ease-out forwards;
}

@keyframes glowExpand {
  to { width: 80%; }
}

#loading-screen.fade-out {
  animation: fadeOutSpace 1s ease forwards;
}

@keyframes fadeOutSpace {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}
